@model WebAppCadeMeuJogo.Models.Entitys.Emprestimo

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes do Empréstimo</h2>
<br />
<div>
    <h4>Emprestimo do <strong>@Model.Amigo.Nome</strong></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amigo.Nome)
        </dd>
        <dt>
            @Html.DisplayName("Apelido: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amigo.Apelido)
        </dd>

        <dt>
            @Html.DisplayName("Data Inicial: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayName("Data final: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

        

    </dl>


    
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Emprestimos", "Index")
</p>

<div class="form-group">
    <div class="col-md-4">
        <h3>Jogos do Empréstimo</h3>
        <ul class="list-group" id="lstJogos">
            @foreach (var jogo in ViewBag.JogosEmprestados)
            {
                <li class="list-group-item">
                    @jogo.Nome
                </li>
            }
        </ul>
    </div>
</div>
