@model WebAppCadeMeuJogo.Models.Entitys.Jogo

@{
    ViewBag.Title = "Excluir";
}

<h2>Exclur Jogo?</h2>
<br />

<h3>Tem certeza de que deseja excluir este jogo?</h3>
<div>
    <h4>Jogo: <strong>@Model.Nome</strong></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Categoria: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Nome: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Disponível ?")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponivel)
        </dd>

        <dt>
            @Html.DisplayName("Data de cadastro")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>


<h3>Histórico de Empréstimos</h3>
<table>
    <tr>
        <th>
            @Html.DisplayName("Amigo")
        </th>
    </tr>
    @foreach (var item in Model.Emprestimos)
    {
        <tr>
            <td>
                @Html.Display(item.Amigo.Nome)
            </td>

        </tr>
    }
</table>